html, body {
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  overflow:hidden;
}

body {
  background:#f1f1f1;
  position:relative;
}

* {
  padding:0;
  margin:0;
}


webview {
  /**negative top margin and calc height to cater for title bar**/
  margin-top: -30px;
  height: calc(100% - 30px);
  width: 100%;
}

webview.hide {
  flex: 0 1;
  width: 0px;
  height: 0px;
}

.text-center{
  text-align: center;
}

.hidden {
  display:none;
}

.collapse-border {
    border-collapse: collapse;
}

.full-height {
  height: 100%;
}

.full-width {
  height: 100%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
