.nav-container {
  width: 0;
}

.nav-button {
  background: #3f3f3f;
  color: #eeeeee;
  width: inherit; 
  height: 100%;
  line-height: 100%;
  cursor: pointer;
}

.nav-button:hover {
  background: #474747;
}

.nav-button:active {
  background: #000000;
}