 #spinner-wrap {
  width:100px;
  height:100%;
  padding-top:300px;
  margin:0 auto;
  position:relative;
  top:50px;
  text-align:center;
}

#spinner {
  height:0;
  width:0;
  position:absolute;
  top:210px;
  border:50px solid red;
  border-color:#FF3A00 #ff8d6d #FF3A00 #ff8d6d;
  border-radius:100%;
  -webkit-animation: rotation 1s cubic-bezier(1.000,0.440,0.840,1.000) infinite, bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  -moz-animation: rotation 1s cubic-bezier(1.000,0.440,0.840,1.000) infinite, bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  -o-animation: rotation 1s cubic-bezier(1.000,0.440,0.840,1.000) infinite, bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation: rotation 1s cubic-bezier(1.000,0.440,0.840,1.000) infinite, bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
}

#spinner-shadow {
  display:inline-block;
  position:relative;
  width:100px;
  height:20px;
  background:rgba(0,0,0,.1);
  border-radius:100%;
  -webkit-animation: shadow .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(314deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes bounce {
  from {
    top:210px;
  }
  to {
    top:0px;
  }
}

@-moz-keyframes bounce {
  from {
    top:210px;
  }
  to {
    top:0px;
  }
}
@-ms-keyframes bounce {
  from {
    top:210px;
  }
  to {
    top:0px;
  }
}
@-o-keyframes bounce {
  from {
    top:210px;
  }
  to {
    top:0px;
  }
}
@keyframes bounce {
  from {
    top:210px;
  }
  to {
    top:0px;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(.5);
    background-color:rgba(0,0,0,.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
  }
}

@-moz-keyframes shadow {
  0% {
    -webkit-transform: scale(.5);
    background-color:rgba(0,0,0,.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
  }
}

@-ms-keyframes shadow {
  0% {
    -webkit-transform: scale(.5);
    background-color:rgba(0,0,0,.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
  }
}

@-o-keyframes shadow {
  0% {
    -webkit-transform: scale(.5);
    background-color:rgba(0,0,0,.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scale(.5);
    background-color:rgba(0,0,0,.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    background-color:rgba(0,0,0,.05);
  }
}