#titlebar {
  font-family: sans-serif;
  height: 31px;
  background: #FF6700;
  color: #ffffff;
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#application-title {
  padding-top: 8px;
  font-size: 14px;
}

button:focus {outline:0;}

.title-buttons {
  -webkit-app-region: no-drag;
  display: inline-block;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.title-button {
  background: #FF6700;
  color: #ffffff;
  margin-left: -5px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.title-button:hover {
  background: #db5700;
}

#title-close:hover {
  background: #ef1602;
}

#title-close:active {
  background: #c61000;
}

.title-button:active {
  background: #c44b00;
  margin-left: -5px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#activityLoader {
  position: absolute;
  top: 7px;
  left: 7px;
  color: #ffffff;
}
